.privacy-page, .terms-page{
	-webkit-touch-callout: none; /*iOS Safari*/
	 -webkit-user-select: none; /*Chrome/Safari/Opera*/
	 -khtml-user-select: none; /*Konqueror*/
	 -moz-user-select: none; /*Firefox*/
	 -ms-user-select: none; /*Internet Explorer/Edge*/
	 user-select: none; /*Non-prefixed version, currently*/
	 /*not supported by any browser*/

	 table{
	 	td,th{
	 		padding: 5px 10px !important;
	 	}
	 	ul, ol{ 
	 		margin-left: 20px !important;
	 		li{
	 			line-height: 30px !important;
	 		}
	 	}

	 }
	 ul{
	 	margin-left: 20px;
	 }
	 p{
 		strong{
 			font-size: 20px;
 		}
 	}
}